# =============================
# 🔧 パッケージ関連
# =============================

# node_modules はすべて無視
node_modules/
src/webview/node_modules/

# ロックファイル（pnpmのみ使用する場合）
package-lock.json
yarn.lock

# =============================
# 🛠 ビルド成果物
# =============================

# TypeScriptの出力
build/
dist/
out/
*.tsbuildinfo

# =============================
# ⚡️ Vite関連
# =============================

# Viteのキャッシュ
src/webview/.vite/

# =============================
# 💻 OSごとの不要ファイル
# =============================

.DS_Store

# =============================
# 💻 テスト用フォルダ
# =============================

src/test-server/
src/webview/src/App.tsx
src/webview/src/main.tsx
src/webview/src/screens/AnswerScreen.tsx
